<suite name="UI Testing" parallel="methods" thread-count="10">

    <!--<test name="Simple Login Tests" group-by-instances="true">-->
        <!--<classes>-->
            <!--<class name="com.comsysto.ui.testing.simple.LoginTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="Selenium Tests">
        <classes>
            <class name="com.comsysto.ui.testing.selenium.tests.TimeSavingTest"/>
        </classes>
    </test>

</suite>